* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  counter-reset: counter;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 1fr;
  gap: 4% 2%;
}

.grid div {
  background-color: #607d8b;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid div::after {
  display: block;
  counter-increment: counter;
  content: "Element " counter(counter);
}